body {
	color: white;
	background-color: black;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}


.active {
	background-color: green;
}

.inactive {
	background-color: black;
}

td, tr {
	text-align: center;
	font-weight: bold;
	opacity: 0.75;
	text-shadow: 2px 2px #000000;
}

td {
	width: 100px;
	height: 100px;
}

.bingo-cell {
	/*background-image: url("images/mine.png");*/
	background-size:  30px 30px;
	background-repeat: no-repeat;
	background-position: top right;
}